[submodule "graphics-programming"]
	path = graphics-programming
	url = https://github.com/ingakv/graphics-programming
[submodule "stack-interpreter"]
	path = stack-interpreter
	url = https://github.com/ingakv/stack-interpreter
[submodule "go-game"]
	path = go-game
	url = https://github.com/ingakv/go-game
